<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="10.0.400" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.BinSkim" version="4.4.9.11" targetFramework="native" />
  <package id="Microsoft.Gsl" version="0.1.2.1" targetFramework="native" />
  <package id="Microsoft.SourceLink.Common" version="10.0.400" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="10.0.400" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.UI.Xaml" version="2.6.1" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.4191.47" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="3.0.260818.1" targetFramework="native" />
  <package id="MUXCustomBuildTasks" version="1.0.74" targetFramework="native" />
</packages>